# Parcel build artifacts
dist/
.parcel-cache

# Node.js-specific files
node_modules/
package-lock.json

# Editor-specific files
.DS_Store
*.swp
*.bak
*.tmp
*.log

# IDE-specific files
.idea/
.vscode/
